body{
    height: 100vh;
}
.title{
    color: red;
}
.students p{
    font-weight: bold;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.s2,.s3{
    text-align: center;
}